#home-view-container { 
    .ui.button {
        width: 300px;
    }

    .masthead.segment {
        background: url("./images/splash.jpg") no-repeat center top;
        min-height: 546px;
        height: 546px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        h1 {
            margin-top: 2em;
            font-size: 3em;
        }

        #masthead-text {
            width: 70%;
            margin-top: -5em; // HACK - fix this
        }

        #cta {
            margin-top: -12em; // HACK - fix this
        }
    }

    #masthead-content {
        height: 100%;
    }

    .ui.vertical.stripe {
        padding: 8em 0em;

        h1 {
            font-size: 4em;
        }

        .third.column {
            width: 33%;

            p {
                padding-top: 1em;
            }
        }
    }

    #selling-points, #three-benefits {
        margin-top: 2em;
    }
}
