.column {
    max-width: 450px;
}

.ui.grid.center {
    margin-top: 0px;
}

.body-background {
    background-image: url('../../images/sail_bg.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;              
}




