#add-building-container { 
    .leaflet-container {
        height: 200px;
        width: 100%;
        margin: 0 auto;
    }
}

#show-building-container {
    .leaflet-container {
        height: 250px;
        width: 100%;
        margin: 0 auto;
    }

    .reviewee {
        font-size: 0.8em;
    }
}
