#map-view-container { 
    .leaflet-container {
        height: 3000px;
        width: 100%;
        margin: 0 auto;
    }

    #filter-box {
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: white;
        margin-left: 25px;
        margin-bottom: 25px;
        width: 200px;
        z-index: 100;
    }

    .info-text {
        float:right;
    }

    .ui.loading.form:before {
        background: rgba(0,0,0,.8);
    }
}
